* {
  box-sizing: border-box;
  transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url(../fonts/PlusJakartaSans-Medium.ttf);
  src: url(../fonts/PlusJakartaSans-Regular.ttf);
  src: url(../fonts/PlusJakartaSans-SemiBold.ttf);
  src: url(../fonts/PlusJakartaSans-Bold.ttf);
}
:root {
  --logo-color: #191919;
  --text-color: #101010;
  --hover-text-color: #1aab7b;
  --how-can-we-help-you-text-color: #636f87;
  --hover-how-can-we-help-you-text-color: #ffffff;
  --footer-text-color: #a1a8b7;
  --color: #ffffff;
}
body {
  margin: 0;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/************************** Header styles start **********************/

.site-header {
  width: 100%;
  position: fixed;
  background: #ffffff;
  border-bottom: 1px solid #eeeef4;
  top: 0;
}
.container {
  max-width: 1256px;
  margin: 0 auto;
  padding: 0 20px;
}
.site-header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}
.site-header-wrapper-start {
  display: flex;
  align-items: center;
}
.site-header-link-logo {
  color: var(--logo-color);
  margin-right: 50px;
}
.site-header-link-logo:hover {
  color: var(--logo-color);
  opacity: 0.8;
}
.site-header-link-logo:active {
  color: var(--logo-color);
  opacity: 0.6;
}
.site-header-img {
  width: 81px;
  height: 28px;
}
.site-header-list {
  display: flex;
  align-items: center;
  padding-left: 0;
  list-style: none;
}
.site-header-item {
  margin-right: 30px;
}
.site-header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-decoration: none;
  color: var(--text-color);
}

.site-header-link:hover {
  color: var(--hover-text-color);
}

.site-header-link:active {
  color: var(--hover-text-color);
  opacity: 0.6;
}

.site-header-btn {
  display: inline-block;
  padding: 12px 24px 12px 24px;
  font-weight: 700;
  font-size: 14px;
  line-height: 120%;
  text-align: center;
  color: var(--color);
  text-decoration: none;
  background: #101010;
  border-radius: 6px;
}

.site-header-btn:hover {
  background-color: var(--color);
  border: 1px solid #1aab7b;
  border-radius: 6px;
  color: var(--hover-text-color);
}

.site-header-btn:active {
  color: var(--color);
  background-color: #101010;
  opacity: 0.6;
}
/************************** Header styles end **********************/

/************************** Main styles start ***********************/

/* Hero section styles start */
.hero-section {
  margin-top: 180px;
  background-color: #fff;
}
.hero-section-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.hero-section-wrapper-start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 550px;
}
.hero-section-title {
  margin: 0;
  font-weight: 700;
  font-size: 56px;
  line-height: 140%;
  color: var(--text-color);
}
.hero-section-desc {
  color: #636f87;
  margin-bottom: 40px;
}
.hero-section-btn {
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  padding: 20px 40px 20px 40px;
  text-align: center;
  color: var(--color);
  text-decoration: none;
  background-color: var(--hover-text-color);
  border-radius: 6px;
}

.hero-section-btn:hover {
  background-color: var(--color);
  color: var(--hover-text-color);
  border: 1.5px solid var(--hover-text-color);
  border-radius: 6px;
}

.hero-section-btn:active {
    background-color: var(--hover-text-color);
    opacity: 0.6;
    color: var(--color);
    border: 1.5px solid var(--hover-text-color);
    border-radius: 6px;
}

.hero-section-video{
    width: 592px;
    height: 334px;
    border: none;
    border-radius: 6px;
}
/* Hero section styles end */

/************************** Main styles end ***********************/
